<html>
<head>
<title>Pagina de Error</title>
<script
	src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
	<link rel="stylesheet" href="/../static/plugins/bootstrap/js/bootstrap.min.js"/>
	<script>document.write('<base href="' + document.location + '" />');</script>
</head>
<body>

	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<h1 class="col-8">Ha ocurrido un error</h1><span class="col-4">Trabajamos en ello para solucionarlo</span>

		</footer>
	</div>
	<lottie-player
		src="https://assets8.lottiefiles.com/private_files/lf30_tonsVH.json"
		background="transparent" speed="1" h loop autoplay></lottie-player>
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="/../static/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>