<html>
<head>
<title>ERROR 500</title>
<script
	src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
	<link rel="stylesheet" th:href="@{/static/plugins/bootstrap/js/bootstrap.min.js}"/>
	<script>document.write('<base href="' + document.location + '" />');</script>
</head>
<body >
	<div class="container">
		<div class="d-flex justify-content-center">
            <div class="col-5 text-center">
				<h1>Ha ocurrido un error</h1>
				<span>Trabajamos en ello para solucionarlo</span>
			</div>
        </div>
	</div>
	<lottie-player
		src="https://assets4.lottiefiles.com/packages/lf20_inueopnr.json"
		background="transparent" speed="1" h loop autoplay></lottie-player>
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="/../static/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>