<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>

<body>
    <div class="container">
        <div class="frame">
            <div class="nav">
                <ul class"links">
                    <li class="signin-active"><a class="btn">Sign in</a></li>
                </ul>
            </div>
            <div ng-app ng-init="checked = false">
                <form class="form-signin" action="" method="post" name="form">
                    <label for="username">Username</label>
                    <input class="form-styling" type="text" name="username" placeholder="" />
                    <label for="password">Password</label>
                    <input class="form-styling" type="text" name="password" placeholder="" />
                    <div class="btn-animate">
                        <a class="btn-signin">Sign in</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>