<div class="container">
    <div class="frame">
        <div class="nav">
            <ul class"links">
                <li class="signin-active"><a class="btn">Inicio de sesión</a></li>
            </ul>
        </div>
        <div ng-init="checked = false">
            <form class="form-signin" action="" method="post" name="form">
                <label for="username">Correo electrónico</label>
                <input class="form-styling" type="email" name="email" placeholder="" />
                <label for="password">Contraseña</label>
                <input class="form-styling" type="text" name="password" placeholder="" />
                <div class="btn-animate">
                    <a class="btn-signin">Iniciar sesión</a>
                </div>
            </form>
        </div>
    </div>
</div>